/* * {
	margin: 0;
	padding: 0;
} */

body {
	font-family: "Poppins", sans-serif;
}

.dropdown-toggle::after {
	content: none;
}

/* navbar */
.btn.btn-search {
	border: 2;
	border-color: #054389;
	border-radius: 13px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	background: #fff;
	border-left-style: none;
}
.search-input {
	border: 2;
	border-color: #054389;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}
/* carousel */
.carousel-item {
	height: 32rem;
}

/* sejarah */
.kotak-sejarah {
	max-height: 406px;
	min-height: 406px;
	margin-top: 300px;
	margin-bottom: 300px;
	border-radius: 15px;
	border: 1px solid #edf2fb;
	background-color: #edf2fb;
}

/* footer */
.table tr {
	border: hidden;
}
.table tr td {
	color: #fff;
	font-size: 15px;
	font-weight: 500;
}

footer {
	height: 300px;
	bottom: 0;
	width: 100%;
}
